<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="style="background-color: blue;">
        Добре дошли при нас в ПловдивТур
        <p class="font-weight-bold">Ние сме нова туристическа агенция и с удоволствие ви представяме първата версия на нашият сайт.</p>
    </span>
</div>

@code {

    [Parameter]
    public string? Title { get; set; }
}
