@page "/aboutus"
        <div class="row">
            <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-6">
                <h2>Нашата история</h2>
                <p>Стартирала през 2022 г., ПловдивТур бързо се утвърди като туристическа икона par excellence в България.
                    Със своята уникална марка, която не може да се намери никъде другаде, тя се радва на 
                    покровителство от клиентите от цяла България. </p>
                 </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Неуспорими факти</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Стартирала</dt>
                            <dd class="col-6">27 Ян. 2022</dd>
                            <dt class="col-6">Ръководител</dt>
                            <dd class="col-6">Бистра Танева</dd>
                            <dt class="col-6">Ученик</dt>
                            <dd class="col-6">Деница Митева</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

