@page "/contact"
<div class="row row-content">
           <div class="col-12">
              <h3>Местонахождение</h3>
           </div>
            <div class="col-12 col-sm-4 offset-sm-1">
                   <h5>Нашият Адрес</h5>
                    <address style="font-size: 100%">
		               ул. „Чемшир” № 11,<br>
		              Пловдив<br>
		              <span class="oi oi-phone"></span>: +852 1234 5678<br>
		              <span class="oi oi-envelope-open"></span>: <p>infp@plovdivtur.com</p>
		           </address>
            </div>
            <div class="col-12 col-sm-11 offset-sm-1">
                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary"> Телефон</a>
                    <a role="button" class="btn btn-info"> Facebook</a>
                    <a role="button" class="btn btn-success"> Имейл</a>
                </div>
            </div>
        </div>

        <div class="row row-content">
           <div class="col-12">
              <h3>Изпратете ни вашите идеи</h3>
           </div>
            <div class="col-12 col-md-9">
                <form>
                    <div class="form-group row">
                        <label for="firstname" class="col-md-2 col-form-label">Лично име</label>
                        <div class="col-md-10">
                            <input type="text" name="firtsname" class="form-control" id="firstname" placeholder="Лично име">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-md-2 col-form-label">Фамилия</label>
                        <div class="col-md-10">
                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Фамилия">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="telnum" class="col-12 col-md-2 col-form-label">Телефднен номер</label>
                        <div class="col-5 col-md-3">
                            <input type="tel" name="areacode" class="form-control" id="areacode" placeholder="Код">
                        </div>
                        <div class="col-7 col-md-7">
                            <input type="tel" name="telnum" class="form-control" id="telnum" placeholder="Номер">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="emailid" class="col-md-2 col-form-label">Имейл</label>
                        <div class="col-md-10">
                            <input type="email" name="emailid" class="form-control" id="emailid" placeholder="Имейл">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="feedback" class="col-md-2 col-form-label">Твоята идея</label>
                        <div class="col-md-10">
                            <textarea name="feedback" class="form-control" id="feedback" rows="12">
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-md 2 col-md-10">
                            <button type="submit" class="btn btn-primary">
                                Изпрати
                            </button>
                        </div>
                    </div>
                </form>      
            </div>
            <div class="col-12 col-md">
            </div>
       </div>
